# Audio files
*.m4a
*.mp4
*.flac

# IDEs
.idea/
.vscode/

# Python venvs
**.venv

# Databases, cache and container volumes
.db*
**/cache/
**volumes/
__pycache__/
backgrounds/
telegram-bot/data/

# Environment files
*.env

# Test configuration files
*.test
*.custom
