services:
  beets:
    build:
      context: .
    image: local/beets:latest
    container_name: "beets-${PROJECT_NAME}"
    volumes:
      - "${DEST_PATH}:/data:rw"
      - "${IMPORT_SRC}:/import:rw"
      - "${BEETS_CONFIG}:/config.yaml:ro"
      - "./genres-tree.yaml:/genres-tree.yaml:ro"
      - "./genres-whitelist.txt:/genres-whitelist.txt:ro"
    environment:
      - DRY_RUN=${DRY_RUN:-no}
      - IMPORT_MODE=${IMPORT_MODE:-full}
      - VERBOSE=${VERBOSE:-no}
    restart: "no"
    entrypoint: ["/entrypoint.sh"]
