# beets_config.yaml - recommended config for tag normalization
# Place next to wrapper.sh or pass a path with --beets-config
directory: /data
library: /data/.beetslibrary.db

import:
  write: yes         # write metadata to files
  copy: no           # do not copy (we operate in-place)
  move: no
  resume: no
  timid: no

plugins:
  - fetchart
  - embedart
  - replaygain
  - lastgenre
  - fetchmusicbrainz
  - scrub
  - edit
  - badfiles
  - autotag
  - disambiguate

# fetchart settings
fetchart:
  auto: yes
  cautious: no
  minwidth: 300
  maxwidth: 1000
  sources: coverart itunes amazon

embedart:
  auto: yes
  ifempty: yes
  maxwidth: 0

scrub:
  paths: yes
  # remove weird control chars, reorder punctuation
  fields: album albumartist artist composer genre title
  chars: '\x00-\x1F'

autotag:
  # aggressive matching (be careful if you have many obscure files)
  candidates: 10
  allow_new_albums: yes

replaygain:
  backend: bs1770gain
  overwrite: no

lastgenre:
  source: last.fm
  whitelist:
    - rock
    - electronic
    - pop
    - jazz
    - classical

badfiles:
  commands: ["file -b --mime-type $path"]

paths:
  default: $albumartist/$album/$track - $title

# mapping common tags to write into files
item_fields:
  - title
  - artist
  - album
  - albumartist
  - track
  - tracktotal
  - disc
  - disctotal
  - date
  - year
  - genre
  - composer

# Use MusicBrainz metadata where possible
musicbrainz:
  host: musicbrainz.org
