services:
  navidrome:
    image: deluan/navidrome:0.58.5
    container_name: navidrome
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$'
    user: ${PUID}:${PGID}
    environment:
      ND_CONFIGFILE: /data/navidrome.toml
      ND_LASTFM_APIKEY: ${LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${LASTFM_SECRET}
      ND_PROMETHEUS_METRICSPATH: ${CUSTOM_METRICS_PATH}
      ND_UILOGINBACKGROUNDURL: /backgrounds
    volumes:
      - "${NAVIDROME_MUSIC_PATH}:/music:ro"
      - "${VOLUMES_PATH}/navidrome:/data"
      - "./configs/navidrome.toml:/data/navidrome.toml:ro"
      - "${BACKGROUNDS_PATH}:/backgrounds:ro"
    networks:
      - navidrome
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --quiet --tries=1 --timeout=3 -O - http://127.0.0.1:4533/ || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3

networks:
  navidrome:
    driver: bridge
